In [1]:
import pandas as pd
%pip install xlrd

# Especifica la ruta de tu archivo Excel
ruta_excel = "C:/Users/jpcan/OneDrive/Documentos/Andes Universidad/Analitica computacional/Proyecto 2/Copia de default of credit card clients.xls"

# Lee el archivo Excel en un DataFrame de pandas
datos_excel = pd.read_excel(ruta_excel, sheet_name="Data")

datos_excel.columns = datos_excel.iloc[0]

# Elimina la primera fila, ya que ahora son los nombres de las columnas
datos_excel = datos_excel[1:]

# Muestra los primeros cinco registros para verificar
print(datos_excel.head())

Requirement already satisfied: xlrd in c:\users\jpcan\appdata\local\programs\python\python311\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

0 ID LIMIT_BAL SEX EDUCATION MARRIAGE AGE PAY_0 PAY_2 PAY_3 PAY_4  ...  \
1  1     20000   2         2        1  24     2     2    -1    -1  ...
2  2    120000   2         2        2  26    -1     2     0     0  ...
3  3     90000   2         2        2  34     0     0     0     0  ...
4  4     50000   2         2        1  37     0     0     0     0  ...
5  5     50000   1         2        1  57    -1     0    -1     0  ...

0 BILL_AMT4 BILL_AMT5 BILL_AMT6 PAY_AMT1 PAY_AMT2 PAY_AMT3 PAY_AMT4 PAY_AMT5  \
1         0         0         0        0      689        0        0        0
2      3272      3455      3261        0     1000     1000     1000        0
3     14331     14948     15549     1518     1500     1000     1000     1000
4     28314     28959     29547     2000     2019     1200     1100     1069
5     20940     19146     19131     2000    36681    10000     9000      689

0 PAY_AMT6 default payment next month
1        0                          1
2     2000                          1
3     5000                          0
4     1000                          0
5      679                          0

[5 rows x 25 columns]

In [3]:
import pandas as pd

# Supongamos que 'df' es tu DataFrame
# df = pd.read_excel("ruta/a/tu/archivo.xlsx")

# Verifica si hay valores faltantes en cada columna
valores_faltantes_por_columna = datos_excel.isna().sum()

# También puedes usar df.isnull().sum() para el mismo propósito

# Muestra el resultado
print(valores_faltantes_por_columna)

0
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [4]:
import pandas as pd

# Supongamos que 'datos_excel' es tu DataFrame
# datos_excel = pd.read_excel("ruta/a/tu/archivo.xlsx")

# Verifica cuántos valores son iguales a 0 en cada columna
valores_cero_por_columna = (datos_excel == 0).sum()

# Muestra el resultado
print(valores_cero_por_columna)

#Revisar los 0 en Education, Marriage, en los PAY
#Revisar Pay que hay valores de -2 (Si es menos asumirlo como -1 o que fue un mystipping)

0
ID                                0
LIMIT_BAL                         0
SEX                               0
EDUCATION                        14
MARRIAGE                         54
AGE                               0
PAY_0                         14737
PAY_2                         15730
PAY_3                         15764
PAY_4                         16455
PAY_5                         16947
PAY_6                         16286
BILL_AMT1                      2008
BILL_AMT2                      2506
BILL_AMT3                      2870
BILL_AMT4                      3195
BILL_AMT5                      3506
BILL_AMT6                      4020
PAY_AMT1                       5249
PAY_AMT2                       5396
PAY_AMT3                       5968
PAY_AMT4                       6408
PAY_AMT5                       6703
PAY_AMT6                       7173
default payment next month    23364
dtype: int64

In [10]:
# Verificar valores fuera de los límites en la columna "EDUCATION"
valores_fuera_limite_educacion = datos_excel[~datos_excel['EDUCATION'].isin([1, 2, 3, 4])]
indices_atipicos_educacion = valores_fuera_limite_educacion.index.tolist()

# Verificar valores fuera de los límites en la columna "MARRIAGE"
valores_fuera_limite_matrimonio = datos_excel[~datos_excel['MARRIAGE'].isin([1, 2, 3])]
indices_atipicos_matrimonio = valores_fuera_limite_matrimonio.index.tolist()

# Mostrar los resultados
print("Cantidad de valores atípicos en EDUCATION:", len(valores_fuera_limite_educacion))
print("Índices de valores atípicos en EDUCATION:", indices_atipicos_educacion)

print("\nCantidad de valores atípicos en MARRIAGE:", len(valores_fuera_limite_matrimonio))
print("Índices de valores atípicos en MARRIAGE:", indices_atipicos_matrimonio)

# Verificar valores fuera de los límites en la columna "EDUCATION"
valores_atipicos_educacion = datos_excel[~datos_excel['EDUCATION'].isin([1, 2, 3, 4])]['EDUCATION'].unique()

# Verificar valores fuera de los límites en la columna "MARRIAGE"
valores_atipicos_matrimonio = datos_excel[~datos_excel['MARRIAGE'].isin([1, 2, 3])]['MARRIAGE'].unique()

# Mostrar los resultados
print("Valores atípicos en EDUCATION:", valores_atipicos_educacion)
print("Valores atípicos en MARRIAGE:", valores_atipicos_matrimonio)

#Ya que al fin de cuentas son valores categoricos, pasarlos todos a others?

Cantidad de valores atípicos en EDUCATION: 0
Índices de valores atípicos en EDUCATION: []

Cantidad de valores atípicos en MARRIAGE: 0
Índices de valores atípicos en MARRIAGE: []
Valores atípicos en EDUCATION: []
Valores atípicos en MARRIAGE: []

In [9]:
# Eliminar filas con valores atípicos en la columna "EDUCATION"
datos_excel = datos_excel[datos_excel['EDUCATION'].isin([1, 2, 3, 4])]

# Eliminar filas con valores atípicos en la columna "MARRIAGE"
datos_excel = datos_excel[datos_excel['MARRIAGE'].isin([1, 2, 3])]

# Reindexar el DataFrame si es necesario
datos_excel.reset_index(drop=True, inplace=True)

In [12]:
# Lista de valores permitidos
valores_permitidos = [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Verificar valores fuera de los límites en las columnas PAY_0 a PAY_6
for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    valores_atipicos = datos_excel[~datos_excel[columna].isin(valores_permitidos)][columna].unique()
    print("Valores atípicos en", columna, ":", valores_atipicos)

Valores atípicos en PAY_1 : [ 0 -2]
Valores atípicos en PAY_2 : [ 0 -2]
Valores atípicos en PAY_3 : [ 0 -2]
Valores atípicos en PAY_4 : [ 0 -2]
Valores atípicos en PAY_5 : [-2  0]
Valores atípicos en PAY_6 : [-2  0]

In [13]:
# Lista de valores permitidos
valores_permitidos = [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Contador para el total de filas con valores atípicos
total_filas_atipicas = 0

# Verificar valores fuera de los límites en las columnas PAY_0 a PAY_6
for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    valores_atipicos = datos_excel[~datos_excel[columna].isin(valores_permitidos)][columna]
    num_filas_atipicas = len(valores_atipicos)
    total_filas_atipicas += num_filas_atipicas
    print("Número de filas con valores atípicos en", columna, ":", num_filas_atipicas)

print("Total de filas con valores atípicos en las columnas PAY_0 a PAY_6:", total_filas_atipicas)

Número de filas con valores atípicos en PAY_1 : 17207
Número de filas con valores atípicos en PAY_2 : 19198
Número de filas con valores atípicos en PAY_3 : 19545
Número de filas con valores atípicos en PAY_4 : 20491
Número de filas con valores atípicos en PAY_5 : 21163
Número de filas con valores atípicos en PAY_6 : 20859
Total de filas con valores atípicos en las columnas PAY_0 a PAY_6: 118463

In [7]:
# Cambiar el nombre de la columna "PAY_0" a "PAY_1"
datos_excel = datos_excel.rename(columns={"PAY_0": "PAY_1"})

# Mostrar el DataFrame con el nombre de la columna cambiado
print(datos_excel.head())

0 ID LIMIT_BAL SEX EDUCATION MARRIAGE AGE PAY_1 PAY_2 PAY_3 PAY_4  ...  \
1  1     20000   2         2        1  24     2     2    -1    -1  ...
2  2    120000   2         2        2  26    -1     2     0     0  ...
3  3     90000   2         2        2  34     0     0     0     0  ...
4  4     50000   2         2        1  37     0     0     0     0  ...
5  5     50000   1         2        1  57    -1     0    -1     0  ...

0 BILL_AMT4 BILL_AMT5 BILL_AMT6 PAY_AMT1 PAY_AMT2 PAY_AMT3 PAY_AMT4 PAY_AMT5  \
1         0         0         0        0      689        0        0        0
2      3272      3455      3261        0     1000     1000     1000        0
3     14331     14948     15549     1518     1500     1000     1000     1000
4     28314     28959     29547     2000     2019     1200     1100     1069
5     20940     19146     19131     2000    36681    10000     9000      689

0 PAY_AMT6 default payment next month
1        0                          1
2     2000                          1
3     5000                          0
4     1000                          0
5      679                          0

[5 rows x 25 columns]

In [8]:
# Convertir todas las columnas a tipos de datos numéricos
datos_excel = datos_excel.apply(pd.to_numeric, errors='coerce')

# Obtener el análisis descriptivo del DataFrame
analisis_descriptivo = datos_excel.describe()

# Mostrar el análisis descriptivo
print(analisis_descriptivo)

#Se deberian mirar esas desviaciones tal altas?

0                ID       LIMIT_BAL           SEX     EDUCATION      MARRIAGE  \
count  30000.000000    30000.000000  30000.000000  30000.000000  30000.000000
mean   15000.500000   167484.322667      1.603733      1.853133      1.551867
std     8660.398374   129747.661567      0.489129      0.790349      0.521970
min        1.000000    10000.000000      1.000000      0.000000      0.000000
25%     7500.750000    50000.000000      1.000000      1.000000      1.000000
50%    15000.500000   140000.000000      2.000000      2.000000      2.000000
75%    22500.250000   240000.000000      2.000000      2.000000      2.000000
max    30000.000000  1000000.000000      2.000000      6.000000      3.000000

0               AGE         PAY_1         PAY_2         PAY_3         PAY_4  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      35.485500     -0.016700     -0.133767     -0.166200     -0.220667
std        9.217904      1.123802      1.197186      1.196868      1.169139
min       21.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       28.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%       34.000000      0.000000      0.000000      0.000000      0.000000
75%       41.000000      0.000000      0.000000      0.000000      0.000000
max       79.000000      8.000000      8.000000      8.000000      8.000000

0      ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   30000.000000   30000.000000   30000.000000   30000.000000
mean   ...   43262.948967   40311.400967   38871.760400    5663.580500
std    ...   64332.856134   60797.155770   59554.107537   16563.280354
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2326.750000    1763.000000    1256.000000    1000.000000
50%    ...   19052.000000   18104.500000   17071.000000    2100.000000
75%    ...   54506.000000   50190.500000   49198.250000    5006.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

0          PAY_AMT2      PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.00000   30000.000000   30000.000000
mean   5.921163e+03    5225.68150    4826.076867    4799.387633
std    2.304087e+04   17606.96147   15666.159744   15278.305679
min    0.000000e+00       0.00000       0.000000       0.000000
25%    8.330000e+02     390.00000     296.000000     252.500000
50%    2.009000e+03    1800.00000    1500.000000    1500.000000
75%    5.000000e+03    4505.00000    4013.250000    4031.500000
max    1.684259e+06  896040.00000  621000.000000  426529.000000

0           PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5215.502567                    0.221200
std     17777.465775                    0.415062
min         0.000000                    0.000000
25%       117.750000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 25 columns]