In [2]:
import pandas as pd
%pip install xlrd

# Especifica la ruta de tu archivo Excel
ruta_excel = "C:/Users/jpcan/OneDrive/Documentos/Andes Universidad/Analitica computacional/Proyecto 2/Copia de default of credit card clients.xls"

# Lee el archivo Excel en un DataFrame de pandas
datos_excel = pd.read_excel(ruta_excel, sheet_name="Data")

datos_excel.columns = datos_excel.iloc[0]

# Elimina la primera fila, ya que ahora son los nombres de las columnas
datos_excel = datos_excel[1:]

# Muestra los primeros cinco registros para verificar
print(datos_excel.head())

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: xlrd in c:\users\jpcan\appdata\local\programs\python\python311\lib\site-packages (2.0.1)

0 ID LIMIT_BAL SEX EDUCATION MARRIAGE AGE PAY_0 PAY_2 PAY_3 PAY_4  ...  \
1  1     20000   2         2        1  24     2     2    -1    -1  ...
2  2    120000   2         2        2  26    -1     2     0     0  ...
3  3     90000   2         2        2  34     0     0     0     0  ...
4  4     50000   2         2        1  37     0     0     0     0  ...
5  5     50000   1         2        1  57    -1     0    -1     0  ...

0 BILL_AMT4 BILL_AMT5 BILL_AMT6 PAY_AMT1 PAY_AMT2 PAY_AMT3 PAY_AMT4 PAY_AMT5  \
1         0         0         0        0      689        0        0        0
2      3272      3455      3261        0     1000     1000     1000        0
3     14331     14948     15549     1518     1500     1000     1000     1000
4     28314     28959     29547     2000     2019     1200     1100     1069
5     20940     19146     19131     2000    36681    10000     9000      689

0 PAY_AMT6 default payment next month
1        0                          1
2     2000                          1
3     5000                          0
4     1000                          0
5      679                          0

[5 rows x 25 columns]

In [3]:
import pandas as pd

# Supongamos que 'df' es tu DataFrame
# df = pd.read_excel("ruta/a/tu/archivo.xlsx")

# Verifica si hay valores faltantes en cada columna
valores_faltantes_por_columna = datos_excel.isna().sum()

# También puedes usar df.isnull().sum() para el mismo propósito

# Muestra el resultado
print(valores_faltantes_por_columna)

0
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [4]:
import pandas as pd

# Supongamos que 'datos_excel' es tu DataFrame
# datos_excel = pd.read_excel("ruta/a/tu/archivo.xlsx")

# Verifica cuántos valores son iguales a 0 en cada columna
valores_cero_por_columna = (datos_excel == 0).sum()

# Muestra el resultado
print(valores_cero_por_columna)

#Revisar los 0 en Education, Marriage, en los PAY
#Revisar Pay que hay valores de -2 (Si es menos asumirlo como -1 o que fue un mystipping)

0
ID                                0
LIMIT_BAL                         0
SEX                               0
EDUCATION                        14
MARRIAGE                         54
AGE                               0
PAY_0                         14737
PAY_2                         15730
PAY_3                         15764
PAY_4                         16455
PAY_5                         16947
PAY_6                         16286
BILL_AMT1                      2008
BILL_AMT2                      2506
BILL_AMT3                      2870
BILL_AMT4                      3195
BILL_AMT5                      3506
BILL_AMT6                      4020
PAY_AMT1                       5249
PAY_AMT2                       5396
PAY_AMT3                       5968
PAY_AMT4                       6408
PAY_AMT5                       6703
PAY_AMT6                       7173
default payment next month    23364
dtype: int64

In [5]:
# Verificar valores fuera de los límites en la columna "EDUCATION"
valores_fuera_limite_educacion = datos_excel[~datos_excel['EDUCATION'].isin([1, 2, 3, 4])]
indices_atipicos_educacion = valores_fuera_limite_educacion.index.tolist()

# Verificar valores fuera de los límites en la columna "MARRIAGE"
valores_fuera_limite_matrimonio = datos_excel[~datos_excel['MARRIAGE'].isin([1, 2, 3])]
indices_atipicos_matrimonio = valores_fuera_limite_matrimonio.index.tolist()

# Mostrar los resultados
print("Cantidad de valores atípicos en EDUCATION:", len(valores_fuera_limite_educacion))
print("Índices de valores atípicos en EDUCATION:", indices_atipicos_educacion)

print("\nCantidad de valores atípicos en MARRIAGE:", len(valores_fuera_limite_matrimonio))
print("Índices de valores atípicos en MARRIAGE:", indices_atipicos_matrimonio)

# Verificar valores fuera de los límites en la columna "EDUCATION"
valores_atipicos_educacion = datos_excel[~datos_excel['EDUCATION'].isin([1, 2, 3, 4])]['EDUCATION'].unique()

# Verificar valores fuera de los límites en la columna "MARRIAGE"
valores_atipicos_matrimonio = datos_excel[~datos_excel['MARRIAGE'].isin([1, 2, 3])]['MARRIAGE'].unique()

# Mostrar los resultados
print("Valores atípicos en EDUCATION:", valores_atipicos_educacion)
print("Valores atípicos en MARRIAGE:", valores_atipicos_matrimonio)

#Ya que al fin de cuentas son valores categoricos, pasarlos todos a others?

Cantidad de valores atípicos en EDUCATION: 345
Índices de valores atípicos en EDUCATION: [48, 70, 386, 503, 505, 1074, 1266, 1283, 1370, 1832, 2094, 2344, 2594, 2599, 2670, 3052, 3191, 3227, 3230, 3252, 3668, 3711, 3770, 3789, 3897, 4100, 4132, 4288, 4483, 4507, 4677, 4727, 4912, 5107, 5127, 5169, 5186, 5271, 5278, 5409, 5556, 5633, 5708, 5946, 5981, 6051, 6057, 6447, 6469, 6496, 6502, 6529, 6588, 6743, 6869, 6877, 6883, 6893, 7104, 7210, 7412, 7494, 7677, 7732, 8024, 8104, 8171, 8315, 8663, 8671, 8678, 8837, 8883, 9047, 9162, 9284, 9389, 9504, 9589, 9619, 9724, 9915, 10358, 10480, 10491, 10599, 10680, 10720, 10733, 10865, 11017, 11155, 11186, 11330, 11458, 11725, 11770, 11784, 11849, 11931, 12038, 12060, 12320, 12342, 12357, 12559, 12621, 12665, 12673, 13149, 13359, 13593, 13647, 13670, 13761, 13947, 14060, 14104, 14125, 14137, 14138, 14279, 14537, 14621, 14632, 14739, 14829, 14906, 15078, 15108, 15227, 15270, 15379, 15388, 15403, 15409, 15724, 15908, 16103, 16263, 16318, 16352, 16427, 16431, 16442, 16695, 16716, 16791, 16821, 16837, 16882, 16897, 16948, 16952, 17193, 17322, 17415, 17476, 17522, 17803, 17828, 18115, 18340, 18380, 18414, 18437, 18447, 18448, 18500, 18618, 18861, 18899, 18957, 18969, 19009, 19062, 19147, 19222, 19234, 19339, 19365, 19498, 19502, 19554, 19621, 19772, 19851, 19921, 20031, 20083, 20185, 20196, 20227, 20246, 20325, 20335, 20376, 20470, 20496, 20508, 20517, 20544, 20656, 20810, 20844, 20873, 20977, 21007, 21089, 21093, 21173, 21240, 21309, 21337, 21434, 21634, 21670, 21693, 21705, 21838, 21852, 21930, 22040, 22132, 22401, 22462, 22478, 22531, 22601, 22631, 22720, 22729, 22874, 22880, 22926, 22942, 23033, 23042, 23079, 23118, 23120, 23124, 23137, 23208, 23209, 23235, 23377, 23410, 23449, 23564, 23589, 23621, 23761, 23928, 23999, 24004, 24051, 24058, 24091, 24138, 24159, 24296, 24312, 24377, 24390, 24393, 24454, 24550, 24551, 24720, 24764, 24902, 24968, 24996, 25056, 25100, 25124, 25326, 25344, 25394, 25470, 25482, 25602, 25755, 25800, 25844, 26067, 26068, 26152, 26317, 26532, 26547, 26654, 26673, 26886, 26941, 27004, 27055, 27087, 27113, 27145, 27156, 27232, 27271, 27317, 27406, 27470, 27492, 27502, 27565, 27770, 28000, 28012, 28073, 28143, 28160, 28277, 28379, 28698, 28718, 28781, 28783, 28786, 28789, 28806, 28821, 28853, 28883, 28891, 28968, 29073, 29135, 29341, 29391, 29422, 29444, 29462, 29489, 29596, 29611, 29812, 29837, 29840, 29921, 29967]

Cantidad de valores atípicos en MARRIAGE: 54
Índices de valores atípicos en MARRIAGE: [219, 810, 821, 1020, 1444, 2147, 2555, 3057, 4471, 5006, 5346, 6390, 7941, 7956, 8887, 9089, 9974, 10209, 11753, 11926, 12051, 12079, 12733, 13826, 16582, 17286, 17530, 17577, 18307, 18536, 18949, 19343, 19387, 20120, 20450, 21560, 22591, 23030, 23104, 23136, 23361, 24217, 24444, 24722, 24985, 25309, 25703, 26251, 28458, 28603, 28604, 28767, 29079, 29112]
Valores atípicos en EDUCATION: [5 6 0]
Valores atípicos en MARRIAGE: [0]

In [6]:
# Eliminar filas con valores atípicos en la columna "EDUCATION"
datos_excel = datos_excel[datos_excel['EDUCATION'].isin([1, 2, 3, 4])]

# Eliminar filas con valores atípicos en la columna "MARRIAGE"
datos_excel = datos_excel[datos_excel['MARRIAGE'].isin([1, 2, 3])]

# Reindexar el DataFrame si es necesario
datos_excel.reset_index(drop=True, inplace=True)

In [ ]:
# Cambiar el nombre de la columna "PAY_0" a "PAY_1"
datos_excel = datos_excel.rename(columns={"PAY_0": "PAY_1"})

# Mostrar el DataFrame con el nombre de la columna cambiado
print(datos_excel.head())

In [9]:
# Lista de valores permitidos
valores_permitidos = [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Verificar valores fuera de los límites en las columnas PAY_0 a PAY_6
for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    valores_atipicos = datos_excel[~datos_excel[columna].isin(valores_permitidos)][columna].unique()
    print("Valores atípicos en", columna, ":", valores_atipicos)

Valores atípicos en PAY_1 : [0 -2]
Valores atípicos en PAY_2 : [0 -2]
Valores atípicos en PAY_3 : [0 -2]
Valores atípicos en PAY_4 : [0 -2]
Valores atípicos en PAY_5 : [-2 0]
Valores atípicos en PAY_6 : [-2 0]

In [10]:
# Lista de valores permitidos
valores_permitidos = [-2,-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Contador para el total de filas con valores atípicos
total_filas_atipicas = 0

# Verificar valores fuera de los límites en las columnas PAY_0 a PAY_6
for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    valores_atipicos = datos_excel[~datos_excel[columna].isin(valores_permitidos)][columna]
    num_filas_atipicas = len(valores_atipicos)
    total_filas_atipicas += num_filas_atipicas
    print("Número de filas con valores atípicos en", columna, ":", num_filas_atipicas)

print("Total de filas con valores atípicos en las columnas PAY_0 a PAY_6:", total_filas_atipicas)

Número de filas con valores atípicos en PAY_1 : 14499
Número de filas con valores atípicos en PAY_2 : 15476
Número de filas con valores atípicos en PAY_3 : 15518
Número de filas con valores atípicos en PAY_4 : 16204
Número de filas con valores atípicos en PAY_5 : 16684
Número de filas con valores atípicos en PAY_6 : 16053
Total de filas con valores atípicos en las columnas PAY_0 a PAY_6: 94434

In [11]:
# Convertir todas las columnas a tipos de datos numéricos
datos_excel = datos_excel.apply(pd.to_numeric, errors='coerce')

# Obtener el análisis descriptivo del DataFrame
analisis_descriptivo = datos_excel.describe()

# Mostrar el análisis descriptivo
print(analisis_descriptivo)

#Se deberian mirar esas desviaciones tal altas?

0                ID       LIMIT_BAL           SEX     EDUCATION      MARRIAGE  \
count  29601.000000    29601.000000  29601.000000  29601.000000  29601.000000
mean   14971.758927   167550.544914      1.603189      1.815479      1.555454
std     8660.184430   129944.020953      0.489244      0.710399      0.518092
min        1.000000    10000.000000      1.000000      1.000000      1.000000
25%     7474.000000    50000.000000      1.000000      1.000000      1.000000
50%    14953.000000   140000.000000      2.000000      2.000000      2.000000
75%    22463.000000   240000.000000      2.000000      2.000000      2.000000
max    30000.000000  1000000.000000      2.000000      4.000000      3.000000

0               AGE         PAY_1         PAY_2         PAY_3         PAY_4  \
count  29601.000000  29601.000000  29601.000000  29601.000000  29601.000000
mean      35.464072     -0.014932     -0.131313     -0.163440     -0.218303
std        9.213243      1.124503      1.199642      1.199793      1.172220
min       21.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       28.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%       34.000000      0.000000      0.000000      0.000000      0.000000
75%       41.000000      0.000000      0.000000      0.000000      0.000000
max       79.000000      8.000000      8.000000      8.000000      8.000000

0      ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   29601.000000   29601.000000   29601.000000   29601.000000
mean   ...   43122.554204   40235.545184   38858.449816    5649.560319
std    ...   64196.383913   60699.344884   59519.893043   16568.264941
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2329.000000    1780.000000    1278.000000    1000.000000
50%    ...   19005.000000   18091.000000   17118.000000    2100.000000
75%    ...   54271.000000   50072.000000   49121.000000    5005.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

0          PAY_AMT2       PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  2.960100e+04   29601.000000   29601.000000   29601.000000
mean   5.894788e+03    5198.415898    4828.659268    4795.032735
std    2.308919e+04   17580.914806   15711.057992   15244.217154
min    0.000000e+00       0.000000       0.000000       0.000000
25%    8.250000e+02     390.000000     298.000000     259.000000
50%    2.007000e+03    1800.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4014.000000    4042.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

0           PAY_AMT6  default payment next month
count   29601.000000                29601.000000
mean     5181.326374                    0.223134
std     17657.260739                    0.416355
min         0.000000                    0.000000
25%       138.000000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 25 columns]

In [13]:
# Lista de valores permitidos
valores_permitidos = [0,-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Contador para el total de filas con valores atípicos
total_filas_atipicas = 0

# Verificar valores fuera de los límites en las columnas PAY_0 a PAY_6
for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    # Eliminar filas con valores atípicos en la columna "EDUCATION"
    datos_excel = datos_excel[datos_excel[columna].isin(valores_permitidos)]


for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:      
    # Reemplazar el valor 0 por -1 en la columna "EDUCATION"
    datos_excel[columna] = datos_excel[columna].replace(0, -1)

In [14]:
mapeo__pay= {-1: 'pay duly;',1: 'payment delay for one month', 2: 'payment delay for two month', 3: 'payment delay for three month',4: 'payment delay for four month',5: 'payment delay for fife month',6: 'payment delay for six month',7: 'payment delay for seven month',8: 'payment delay for eigth month',9: 'payment delay for nine month'}

for columna in ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']:
    datos_excel[columna] = datos_excel[columna].replace(mapeo__pay)

In [18]:
# Mapeo para las variables categóricas
mapeo_sex = {1: 'Male', 2: 'Female'}
mapeo_education = {1: 'Graduate School', 2: 'University', 3: 'High School', 4: 'Others'}
mapeo_marriage = {1: 'Married', 2: 'Single', 3: 'Others'}

# Reemplazar los valores en las variables categóricas con su representación de texto
datos_excel['SEX'] = datos_excel['SEX'].replace(mapeo_sex)
datos_excel['EDUCATION'] = datos_excel['EDUCATION'].replace(mapeo_education)
datos_excel['MARRIAGE'] = datos_excel['MARRIAGE'].replace(mapeo_marriage)

print(datos_excel)

0         ID  LIMIT_BAL     SEX        EDUCATION MARRIAGE  AGE  \
1          2     120000  Female       University   Single   26
2          3      90000  Female       University   Single   34
3          4      50000  Female       University  Married   37
4          5      50000    Male       University  Married   57
5          6      50000    Male  Graduate School   Single   37
...      ...        ...     ...              ...      ...  ...
29596  29996     220000    Male      High School  Married   39
29597  29997     150000    Male      High School   Single   43
29598  29998      30000    Male       University   Single   37
29599  29999      80000    Male      High School  Married   41
29600  30000      50000    Male       University  Married   46

0                             PAY_1                          PAY_2  \
1                         pay duly;    payment delay for two month
2                         pay duly;                      pay duly;
3                         pay duly;                      pay duly;
4                         pay duly;                      pay duly;
5                         pay duly;                      pay duly;
...                             ...                            ...
29596                     pay duly;                      pay duly;
29597                     pay duly;                      pay duly;
29598  payment delay for four month  payment delay for three month
29599   payment delay for one month                      pay duly;
29600                     pay duly;                      pay duly;

0                            PAY_3      PAY_4  ... BILL_AMT4 BILL_AMT5  \
1                        pay duly;  pay duly;  ...      3272      3455
2                        pay duly;  pay duly;  ...     14331     14948
3                        pay duly;  pay duly;  ...     28314     28959
4                        pay duly;  pay duly;  ...     20940     19146
5                        pay duly;  pay duly;  ...     19394     19619
...                            ...        ...  ...       ...       ...
29596                    pay duly;  pay duly;  ...     88004     31237
29597                    pay duly;  pay duly;  ...      8979      5190
29598  payment delay for two month  pay duly;  ...     20878     20582
29599                    pay duly;  pay duly;  ...     52774     11855
29600                    pay duly;  pay duly;  ...     36535     32428

0      BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
1           3261         0      1000      1000      1000         0      2000
2          15549      1518      1500      1000      1000      1000      5000
3          29547      2000      2019      1200      1100      1069      1000
4          19131      2000     36681     10000      9000       689       679
5          20024      2500      1815       657      1000      1000       800
...          ...       ...       ...       ...       ...       ...       ...
29596      15980      8500     20000      5003      3047      5000      1000
29597          0      1837      3526      8998       129         0         0
29598      19357         0         0     22000      4200      2000      3100
29599      48944     85900      3409      1178      1926     52964      1804
29600      15313      2078      1800      1430      1000      1000      1000

0      default payment next month
1                               1
2                               0
3                               0
4                               0
5                               0
...                           ...
29596                           0
29597                           0
29598                           1
29599                           1
29600                           1

[23150 rows x 25 columns]

In [19]:
df = pd.DataFrame(datos_excel)

# Convertir variables categóricas en variables dummy
df_dummies = pd.get_dummies(df, columns=['SEX', 'EDUCATION', 'MARRIAGE','PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'])

# Convertir todas las columnas a tipos de datos numéricos
df_dummies = df_dummies.astype(int)


print(df_dummies)

          ID  LIMIT_BAL  AGE  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  \
1          2     120000   26       2682       1725       2682       3272
2          3      90000   34      29239      14027      13559      14331
3          4      50000   37      46990      48233      49291      28314
4          5      50000   57       8617       5670      35835      20940
5          6      50000   37      64400      57069      57608      19394
...      ...        ...  ...        ...        ...        ...        ...
29596  29996     220000   39     188948     192815     208365      88004
29597  29997     150000   43       1683       1828       3502       8979
29598  29998      30000   37       3565       3356       2758      20878
29599  29999      80000   41      -1645      78379      76304      52774
29600  30000      50000   46      47929      48905      49764      36535

       BILL_AMT5  BILL_AMT6  PAY_AMT1  ...  \
1           3455       3261         0  ...
2          14948      15549      1518  ...
3          28959      29547      2000  ...
4          19146      19131      2000  ...
5          19619      20024      2500  ...
...          ...        ...       ...  ...
29596      31237      15980      8500  ...
29597       5190          0      1837  ...
29598      20582      19357         0  ...
29599      11855      48944     85900  ...
29600      32428      15313      2078  ...

       PAY_5_payment delay for three month  PAY_5_payment delay for two month  \
1                                        0                                  0
2                                        0                                  0
3                                        0                                  0
4                                        0                                  0
5                                        0                                  0
...                                    ...                                ...
29596                                    0                                  0
29597                                    0                                  0
29598                                    0                                  0
29599                                    0                                  0
29600                                    0                                  0

       PAY_6_pay duly;  PAY_6_payment delay for eigth month  \
1                    0                                    0
2                    1                                    0
3                    1                                    0
4                    1                                    0
5                    1                                    0
...                ...                                  ...
29596                1                                    0
29597                1                                    0
29598                1                                    0
29599                1                                    0
29600                1                                    0

       PAY_6_payment delay for fife month  PAY_6_payment delay for four month  \
1                                       0                                   0
2                                       0                                   0
3                                       0                                   0
4                                       0                                   0
5                                       0                                   0
...                                   ...                                 ...
29596                                   0                                   0
29597                                   0                                   0
29598                                   0                                   0
29599                                   0                                   0
29600                                   0                                   0

       PAY_6_payment delay for seven month  PAY_6_payment delay for six month  \
1                                        0                                  0
2                                        0                                  0
3                                        0                                  0
4                                        0                                  0
5                                        0                                  0
...                                    ...                                ...
29596                                    0                                  0
29597                                    0                                  0
29598                                    0                                  0
29599                                    0                                  0
29600                                    0                                  0

       PAY_6_payment delay for three month  PAY_6_payment delay for two month
1                                        0                                  1
2                                        0                                  0
3                                        0                                  0
4                                        0                                  0
5                                        0                                  0
...                                    ...                                ...
29596                                    0                                  0
29597                                    0                                  0
29598                                    0                                  0
29599                                    0                                  0
29600                                    0                                  0

[23150 rows x 77 columns]